<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand d-block d-sm-none" href="/">Find Your Toys</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
			<li class="nav-item">
				<a class="nav-link" href="/searches">Searches</a>
			</li>
    </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid mt-6">
  <div class="container">
    <h1 class="display-4">Find Your Toys</h1>
    <p class="lead">Ready to find the toys you want.</p>
  </div>
</div>
