<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand d-block d-sm-none" href="/">Find Your Toys</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">New Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signin">Sign In</a>
      </li>
      <li class="nav-item">
				<%# if (session) { %>
        <a class="nav-link" href="/signup">Sign Up</a>
				<%# console.log(session)} %>
      </li>
			<li class="nav-item">
				<a class="nav-link" href="/profile">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/searches">Your Searches</a>
			</li>
    </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid mt-6 d-none d-sm-block dark-semi-transparent">
  <div class="container">
    <h1 class="display-4 logo text-uppercase">Find Your T<i class="fas fa-search"></i>ys</h1>
    <p class="lead">Ready to find the toys you want?</p>
  </div>
</div>
