<!DOCTYPE html>
<html lang="en">

<head><% include partials/head %></head>

<body class="pt-5">

	<header><% include partials/header %></header>


	<main>

		<div class="container">

			<section>

				<h2><%= title %></h2>

				<h3><%= results.context.title  %></h3>

				<% for(var i=0; i < results.items.length; i++) { %>
					<p><%= results.items[i].title %></p>
				<% } %>

			</section>

		</div>

	</main>


	<footer><% include partials/footer %></footer>

	<% include partials/scripts %>

</body>
</html>
