<!DOCTYPE html>
<html lang="en">

<head><% include partials/head %></head>

<body class="pt-5">

	<header><% include partials/header %></header>


	<main>

		<div class="container">

			<section>

				<h2 class="my-4"><%= title %></h2>

				<form id="search" action="/results" method="post">

					<div class="form-row">
					  <input name="searchString" type="text" class="form-control form-control-lg" id="searchInput" required>
						<small id="searchHelp" class="form-text text-muted">
							Exclude a term - ex. -term. Exact phrase - ex. "exact phrase". One term or another - ex. term OR another.
						</small>
					</div>
					<div class="form-row justify-content-center">
					  <button type="submit" class="btn btn-primary btn-lg mt-3">Find Your Toys</button>
					</div>

				</form>

			</section>

		</div>

	</main>


	<footer><% include partials/footer %></footer>

	<% include partials/scripts %>

</body>
</html>
