<!DOCTYPE html>
<html lang="en">

<head><% include partials/head %></head>

<body>

	<header><% include partials/header %></header>


	<main>

		<section>

			<h2><%= title %></h2>

			<p>Something goes here...</p>

		</section>

	</main>


	<footer><% include partials/footer %></footer>

	<footer><% include partials/scripts %></footer>

</body>
</html>
