<!DOCTYPE html>
<html lang="en">

<head><% include partials/head %></head>

<body class="pt-5">

	<header><% include partials/header %></header>


	<main>

		<div class="container">

			<section>

				<h2><%= title %></h2>

				<p>Something goes here...</p>

			</section>

		</div>

	</main>


	<footer><% include partials/footer %></footer>

	<% include partials/scripts %>

</body>
</html>
