<!DOCTYPE html>
<html lang="en">

<head><% include partials/head %></head>

<body class="pt-5">

	<header><% include partials/header %></header>


	<main>

		<div class="container">

			<section>

				<h2><%= title %></h2>

				<ol>
					<% for(var i=0; i < results.length; i++) { %>
						<li>
							<span class="font-weight-bold">Description:</span> <%= results[i].description %>
							<br>
							<span class="font-weight-bold">Search:</span> <%= results[i].searchString %>
						</li>
					<% } %>
				</ol>



			</section>

		</div>

	</main>


	<footer><% include partials/footer %></footer>

	<% include partials/scripts %>

</body>
</html>
